@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html,
body {
  @apply bg-black text-white overflow-x-hidden overflow-y-scroll;
  font-family: 'PP Neue Montreal', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
